:root {
    --background-color: #ede9e9;
    --header-background-color: #6049a6;
    --dropdown-background-color: #6049a6;
    --product-card-background-color: #d3d3d3;
    --badge-background-color: #6049a6;
    --text-color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-background-color);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    
}

nav section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

nav form {
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
}

nav input[type="search"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 400px;
    padding-right: 40px;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}


footer {
    background-color: #6049a6;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.support-container {
    display: flex;
    width: 100%;
}

.contact-support, .consumer-support {
    width: 50%;
    margin: 0;
    padding: 0;
}

.consumer-support {
    margin-left: -600px;
}

footer h3 {
    margin: 15px 0;
    font-size: 1.3em;
}

footer .small-title {
    font-size: 1.1em;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
    font-size: 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.itenspedido{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 30px;
    margin-left: 460px; */


    
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
     background-color: white;
     height: 300px;
     width: 400px;
     margin: 0 auto;
     
     /* max-width: 600px; */
    /* height: 300px;
    width: 400px; */ 
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.totaldeitens{
    margin-left: 30px;
    
}


.itenspedido p{
    font-size: 10px;
    color: #6049a6;
}

.itenspedido h3{
    margin: 10px;
    color: #6049a6;
}
.itenspedido h4{
    color: #6049a6;
}
.itenspedido h2{
    color: #6049a6;
    margin: 15px;
    margin-top: 5px;

}


.inf-add input{
    height: 100px;

}
main{
    padding: 50px; 
    display: flex;
    align-items: center;
   
}
/* .all{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    margin-bottom: -20px;
    margin-top: -20px;
   margin-left: 100px;
}

.all section{
    margin-right: 100px;
} */


.input-dados{
    /* position: relative;
    margin: 20px 0 ; */
    display: flex;
     align-items: center;
     justify-content: space-between;
    background-color: white;
    /* max-width: 600px; */
    height: 1500px;
    width: 10000px;
 border-radius: 5px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 padding: 40px;
 line-height: 40px ;

}

#banner{
    border-radius: 5px;
}

.input-dados placeholder{
    position: absolute;
    left: 0;
    bottom: 5px;
}

.input{
   width: 95%; 
   border: 0;
   padding: 10px;
   font-size: 13px;
   outline: 0;
   border: 1px solid #ccc;
   border-radius: 5px;
   
}


form select{
    width: 95%; 
   border: 0;
   padding: 10px;
   font-size: 13px;
   outline: 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}

 /* .input #informadicionais{
    height: 30px;
}  */

form h2{
    text-align: center;
    font-size: 25px;
    color: var(--dropdown-background-color);
}

/* .pagamento{
    position: relative;
    margin: 20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
  
    padding: 40px;
    background-color: white;
    max-width: 600px;
    height: 400px;
    width: 400px;
 border-radius: 20px; 
}

.pagamento h2{
    text-align: center;
    font-size: 25px;
    color: #201150;
    
}

.pagamento p{
    margin-top: 20px;
}
.pagamento label{
   margin-top: 4px ;
    text-align: left;
} */

section div h2{
    display: flex;
}

.legenda{
    font-size: 70%;
}

select{
    width: 150px;
    border-radius: 20px;
    border-color: #6049a6;
    cursor: pointer;
}


.boxforms label{
    font-size: 12px;
}

.pagamento label{
    font-size: 12px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
    
    height: 50px;
   
}

.btn input{
     background-color: var(--dropdown-background-color);
     color: var(--text-color);
     border-radius: 10px;
     width: 250px;
     font-size: 20px;
     border-color: var(--dropdown-background-color);
     cursor: pointer;
}

.required{
    color: red;
}